<%= form_tag orders_path do %>
  <%= text_field_tag 'url' %>
  <%= submit_tag 'Order' %>
<% end %>

<h3>Captures</h3>

<% @captures.each do |capture| %>
  <%= image_tag capture.image_url %>
<% end %>
